uvicorn
python-dotenv
pydantic
fastapi
sse-starlette
psycopg2-binary
sentence_transformers
xlrd
pandas
langchain
langchain_openai
langchain_community
openai
bs4
python-multipart
PyPDF2
langchain-google-genai
langchain-anthropic>=0.1.15
anthropic

langchain-openai
edge-tts
pyttsx3
pygame

openai-whisper 
SpeechRecognition 
pyaudio 
pydub 

gtts
pyttsx3
pygame
simpleaudio
SpeechRecognition
